* {
    margin: 0;
    padding: 0;
    background: peachpuff;
}
.container {
    background: white;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button {
    background: white;
    padding: 5px 20px;
    border-radius: 5px;
}