* {
    margin: 0;
    padding: 0;
}
.main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    background: #E6C48C;
}
.score-board {
    background: #FFE6BC;
    width: 100%;
    height: auto;
    color: black;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-start: 3;

}
.players {
    border: 1px solid blue;
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}
.scores {
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    width: 25%;

}
.buttons {
    background: #8E806A;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button {
    background: white;
    padding: 5px 20px;
    border-radius: 5px;
}
.round {
    grid-row-start: 1 ;
}